header{
    height:80px;
    display:flex;
    background-color:green;
}

.header-left{
    background-color:red;
}

.header-right{
    background-color:blue;
}

.header-left-ul{
    display:flex;
}

.header-right-ul{
    display:flex;
}

li{
    list-style:none;
}

.main{
    background-color:purple;
    height:1000px;
}

.main-contents{
    display:flex;
}

.contents-ul-contents{
    display:flex;
}